*
{
    margin:0px;
    padding:0px;
}
html
{
    font-family:"Segoe UI", "Tahoma", "Arial", "Verdana", 
	    "Microsoft YaHei","Meiryo UI";
	width:100%;
    height:100%;
}
body
{	
    color:#454545;
	width:100%;
	min-width:900px;
    height:100%;
	margin:0px;
}
input,textarea,select{
    font-family:"Segoe UI", "Tahoma", "Arial", "Verdana", 
	    "Microsoft YaHei","Meiryo UI";    
    font-size:16px;    
    border:#CCC 1px solid;
}
input[type="text"],
input[type="password"]{
    padding:3px 6px;
}
input[type="button"]{
    border:none;
    font-size:15px;
    padding:6px 30px;
    background:#E06000;
    color:White;
    overflow:visible;
    width:auto;
    +padding:0px 30px;
    +height:31px;
    +line-height:31px;
    _padding:0px 30px;
    _height:31px;
    _line-height:31px;
    border-radius:2px;
    cursor:pointer;
}
input[type="file"]{
    display:none;
}
textarea{
    overflow:auto;
    word-break:break-all;    
    font-size:15px;
    padding:3px 6px;
}
select{
    min-width:100px;
}
img
{
    border:none;
}
a
{
	text-decoration:none;
	color:#0072C6;
	font-weight:bold;
	cursor:pointer;
}
a:hover
{
	color:#094AB2;
	background:#CD4900;
}
ul
{
	list-style:none;
}
li
{
	list-style-type:none;
	list-style-position:outside;
}


.top
{
	width:100%;
	text-align:center;
	clear:both;
}

.noSelect
{
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none;  /*webkit浏览器*/
    -ms-user-select: none;   /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    user-select: none;
    cursor:default;
}
.clearLeft
{
    clear:left;
}
.clearRight
{
    clear:right;
}
.clearBoth
{
    clear:both;
}
.hidden
{
    display:none;
}

.commitBox
{
    clear:both;
    text-align:right;
    padding:10px 0px;
}
.commitButton
{    
    
}

div#container{
    min-height:100%;
    _height:100%;
    margin-bottom:-140px;
}
#pushFoot{
    height:140px;
}
.main_bg
{
}
.main
{
    width:100%;
    min-width:600px;
    max-width:900px;
    margin:0px auto 0px auto;
}
.commonMain_bg
{
    clear:both;
    margin:0px 20px;
}
.commonMain
{  
}
.leftMain
{
    float:left;
}
.mainTitle
{
    font-size:3em;
    line-height:1.35;
    /*word-spacing:3px;*/
}
.subTitle
{
    font-size:1.05em;
    line-height:1.2;
    font-weight:bold;
}
.listTitle
{
    display:list-item;
    list-style-type:disc;
}

.foot_bg
{
    clear:both;
	background:#F3F3F3;
	width:100%;
	padding:45px 0px 35px 0px;
	text-align:center;
}
.foot
{
	width:900px;
	margin:0px auto;
}
.footBox
{
    position:relative;
    height:60px;
}
.contact
{
    position:absolute;
    bottom:0px;
    left:0px;
	color:#555;
	margin-top:11px;
}
.copyright
{
    position:absolute;
    bottom:0px;
    right:0px;
    color:#666666;
    text-align:right;
}
.subfoot,.subfoot a
{
	font-size:12px;
}
.belonging
{
    font-size:21px;
}